[submodule "BAG_framework"]
	path = BAG_framework
	url = git@github.com:ucb-art/bag.git
[submodule "aib_ams"]
	path = aib_ams
	url = git@github.com:ucb-art/aib_ams.git
[submodule "bag3_analog"]
	path = bag3_analog
	url = git@github.com:ucb-art/bag3_analog.git
[submodule "bag3_digital"]
	path = bag3_digital
	url = git@github.com:ucb-art/bag3_digital.git
[submodule "bag3_testbenches"]
	path = bag3_testbenches
	url = git@github.com:ucb-art/bag3_testbenches.git
[submodule "skywater130"]
	path = skywater130
	url = git@github.com:ucb-art/skywater-pdk-libs-sky130_bag3_pr.git
[submodule "xbase"]
	path = xbase
	url = git@github.com:ucb-art/xbase.git
[submodule "data/bag3_digital"]
	path = data/bag3_digital
	url = git@github.com:ucb-art/bag3_digital_data_skywater130.git
[submodule "data/bag3_analog"]
	path = data/bag3_analog
	url = git@github.com:ucb-art/bag3_analog_data_skywater130.git
[submodule "data/aib_ams"]
	path = data/aib_ams
	url = git@github.com:ucb-art/aib_ams_data_skywater130.git
[submodule "data/bag3_testbenches"]
	path = data/bag3_testbenches
	url = git@github.com:ucb-art/bag3_testbenches_data_skywater130.git
